.header{

  padding-top: 23px;
  padding-bottom: 21px;
  &--main{
    background-color: var(--color-light);
  }

}

.header__nav{
  margin-left: -36px;
}


.container--flex{
  //@include flex-v-center;
  @include flex-all-sb;
}
