<header class="header header--main">
  <div class="container container--flex">
    <a href="#" class="logo"><img src="img/logo.png" alt="Единомышленники логотип"></a>

    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Сервисы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Работа</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>

    <div class="header-contacts">
      <a href="tel:89171367982" class="header-contacts__link contacts-link ontacts-link--call">
        <span class="contacts-link__caption">Позвонить</span>
        <span class="contacts-link__value">8 (917) 136-7982</span>
      </a>
    </div>
    <div class="header-contacts">
      <a href="mailto:lleevv2020@yandex.ru" class="header-contacts__link contacts-link contacts-link--mail">
        <span class="contacts-link__caption">Написать</span>
        <span class="contacts-link__value">lleevv2020@yandex.ru</span>
      </a>
    </div>

  </div>
</header>
