<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="main-title">Движени<span>е</span> единомышленники</h1>
      <p class="main-descr">Создаём на энтузиазме свои собственные проекты, чтоб получать пассивный доход.  Пока только мы в начале пути, поэтому настраиваемся на большой объём работы.</p>

      <div class="hero__btns">
        <button class="btn-reset btn btn--stroke btn--stroke-white">ещё больше о нас</button>
        <button class="btn-reset btn btn--fill btn--stroke-primary">Отправить</button>
      </div>


    </div>
  </div>
</section>
